@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import '@flaticon/flaticon-uicons/css/all/all.css';
 @tailwind utilities;

*{
    font-family: "Manrope","sans-serif";
}
@custom-variant dark (&:where(.dark,.dark *));

@theme{
    --color-primary:#5044E5;
}
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 3s ease infinite;
}
html,body,#root{
  /* overflow-x: hidden; */

}



